# Constants
BACKUP_DIR=/backup-vm # local dir to store backups
BACKUP_LOG_FILE=${BACKUP_DIR}/backup.log # log file
RUNNING_FILE_NAME="running" # marker file inside ${BACKUP_DIR} indicating another bc.sh copy is running
RUNNING_FILE=${BACKUP_DIR}/${RUNNING_FILE_NAME}
ANOTHER_SERVER_ANOTHER_BACKUP_DIR=/other_backup

# Per-host variables
VM_NAMES_TO_BACK_UP="a b" # list of VM to back up
ANOTHER_SERVER_IP="192.168.1.1" # Where to push backups
ANOTHER_SERVER_USERNAME="user" # Remote server user name
DAYS_TO_KEEP_BACKUPS="+63" # For how long to keep backups
